<!doctype html>

<html lang="en-us">   
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hardware Usage</title>
  </head>
  
  <body>
    <h1>Hardware Usage.</h1>
    <h2>CPU Usage: {{cpu_usage}}%</h2>
    <h3>Disk Usage: Total: {{total_disk}} GB, Used: {{used_disk}} GB, Free: {{free_disk}} GB</h3>
    <h4>Free Memory: {{free_memory}} MB</h4>
    <h5>Time to download web index page: {{time_to_download}} seconds</h5>
  </body>
</html>